/* .button {
  background: linear-gradient(60deg, #1256d4, rgb(199, 140, 3));
} */

.title {
  background: -webkit-linear-gradient(90deg, #0d5d5d, #14b5bb, #0d5d5d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/* .main{
  background: linear-gradient(60deg, #000000, #280446);
} */

.left{
  background: linear-gradient(60deg, #000000, #280446);
}

.regis {
  font-size: 30px;
  font-weight: bold;
  color: #4e1081;
}

.about {
  font-size: 16px;
  color: #4e1081;
}


.button {
  margin: auto;
  padding: 1rem;
  width: 14rem;
  text-transform: uppercase;
  color: #fafafa;
  /* background-color: #1256d4; */
  background: linear-gradient(60deg, #000000, #280446);
  box-shadow: 1px 1px 10px rgba(50,50,50,.4);
  letter-spacing: .1rem;
  position: relative;
  top: 0;
  right: 0;
  padding-left: 1rem;
  transition: background 1s;
}


.button:hover {
  transition: 0.3s all ease;
  box-shadow: 1px 1px 20px rgba(150,150,150,.2);
  top: -.1rem;
  right: -.1rem;
  cursor: pointer;
  /* background-color: rgb(236, 137, 8); */
  padding: 1rem;
  background: linear-gradient(60deg, #0d5d5d, #14b5bb);
}

.button:after,
.button:before {
  position: absolute;
  /* font-weight: bold; */
  font-size: 1.5rem;
  transition: .3s all ease;
}

.button:before {
  content: '_';
  position: absolute;
  left: 2.2rem;
  top: 0.5rem;
}

.button:after {
  content: '>';
  position: absolute;
  left: 1.4rem;
  top: 0.5rem;
}

.button:hover:before {
  content: '_';
  position: absolute;
  left: 1.3rem;
  top: .3rem;
  transform: translateY(-0.5px);
}

.button:hover:after {
  content: '>';
  position: absolute;
  left: 1.8rem;
  top: 0.6rem;
}

@media only screen and (max-width: 640px) {
  .button:before, .button:after {
    display: none;
  }

  .tagline{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .main {
    background: linear-gradient(60deg, #000000, #280446);
  }

  .tagline{
    display: none;
  }

  .regis, .about{
    color: white;
  }
}